{% extends 'base.html' %}
{% load static %}


{% block body %}
<section class="row d-flex">
<!-- LEFT SIDE -->

<aside class="col-4 col-lg-3 bg-light" style="height:100vh;">
    <div class="search-con col-12 d-flex justify-content-center">
        <form class="col-11 d-flex " role="search">
            <div class="input-group ">
                <span class="bg-white border-end-0 rounded-start  border d-none d-md-flex  align-items-center"><svg
                        xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 1024 1024"
                        class="icon ms-2" version="1.1">
                        <path d="M622.4 682.453333l60.330667-60.309333 256.405333 256.405333-60.330667 60.309334z"
                            fill="#616161" />
                        <path
                            d="M426.666667 426.666667m-341.333334 0a341.333333 341.333333 0 1 0 682.666667 0 341.333333 341.333333 0 1 0-682.666667 0Z"
                            fill="#616161" />
                        <path d="M692.266667 753.92l60.309333-60.330667 185.514667 185.514667-60.330667 60.330667z"
                            fill="#37474F" />
                        <path
                            d="M426.666667 426.666667m-277.333334 0a277.333333 277.333333 0 1 0 554.666667 0 277.333333 277.333333 0 1 0-554.666667 0Z"
                            fill="#64B5F6" />
                        <path
                            d="M573.866667 302.933333c-36.266667-42.666667-89.6-68.266667-147.2-68.266666s-110.933333 25.6-147.2 68.266666c-8.533333 8.533333-6.4 23.466667 2.133333 29.866667 8.533333 8.533333 23.466667 6.4 29.866667-2.133333C341.333333 296.533333 381.866667 277.333333 426.666667 277.333333s85.333333 19.2 115.2 53.333334c4.266667 4.266667 10.666667 8.533333 17.066666 8.533333 4.266667 0 10.666667-2.133333 12.8-4.266667 8.533333-8.533333 8.533333-23.466667 2.133334-32z"
                            fill="#BBDEFB" />
                    </svg></span>
                <input class="form-control border-start-0  border " style="box-shadow:none; width: 150px;" type="text"
                    placeholder="Twitter'da Ara" id="example-search-input">
            </div>
        </form>
    </div>
    <div class="news-con col-12 mt-3 d-flex justify-content-center">
        <div class="news bg-white p-1 pe-0 col-12 col-sm-11 rounded-3">
            <h5>İlgini çekebilecek gündemler</h5>
            <div class="news-twitts-con ">
                <ul class="news-twitts p-1">
                    <li class="news-twitt-cat">Twitt kategorisi</li>
                    <li class="news-twitt-header">#Twitt başlığı</li>
                    <li class="news-twitt-amount">30,2B Tweet</li>
                </ul>
                <ul class="news-twitts p-1">
                    <li class="news-twitt-cat">Twitt kategorisi</li>
                    <li class="news-twitt-header">#Twitt başlığı</li>
                    <li class="news-twitt-amount">30,2B Tweet</li>
                </ul>
                <ul class="news-twitts p-1">
                    <li class="news-twitt-cat">Twitt kategorisi</li>
                    <li class="news-twitt-header">#Twitt başlığı</li>
                    <li class="news-twitt-amount">30,2B Tweet</li>
                </ul>
                <ul class="news-twitts p-1">
                    <li class="news-twitt-cat">Twitt kategorisi</li>
                    <li class="news-twitt-header">#Twitt başlığı</li>
                    <li class="news-twitt-amount">30,2B Tweet</li>
                </ul>
                <ul class="news-twitts p-1">
                    <li class="news-twitt-cat">Twitt kategorisi</li>
                    <li class="news-twitt-header">#Twitt başlığı</li>
                    <li class="news-twitt-amount">30,2B Tweet</li>
                </ul>
                <ul class="news-twitts p-1">
                    <li class="news-twitt-cat">Twitt kategorisi</li>
                    <li class="news-twitt-header">#Twitt başlığı</li>
                    <li class="news-twitt-amount">30,2B Tweet</li>
                </ul>
                <ul class="news-twitts p-1">
                    <li class="news-twitt-cat">Twitt kategorisi</li>
                    <li class="news-twitt-header">#Twitt başlığı</li>
                    <li class="news-twitt-amount">30,2B Tweet</li>
                </ul>
            </div>
        </div>
    </div>
</aside>

<!-- MAIN PAGE -->

<article class="col-8 col-lg-6 bg-light" style="height: 100vh;">
    
    <div class="row">
        <div class="header d-flex bg-light border ">
            <p>Kullanıcı Adı</p>
            <span class="mx-3">Twit Sayısı</span>
        </div>
        
        <div class="background-image col-12 bg-dark" style="height: 200px;">
            <img src="" alt="">
            <div class="profile-photo2 col-2 bg-white rounded-circle" style="aspect-ratio: 1/1;" ></div>
            <div class="profile-photo col-2 bg-info rounded-circle" style="aspect-ratio: 1/1;">
                <img src="" alt="">
            </div>
        </div>
        <div class="row d-flex justify-content-end">
            <button class="btn btn-secondary rounded-pill  mt-2" style="width:auto;">Profili düzenle</button>
        </div>
        

    </div>
    <div class="row mt-5">
        <div class="profileName">
            <h4>Yusuf</h4>
            <h6 class="text-secondary">@_halimiz_duman</h6>
            <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 1024 1024"><path fill="#000000" d="M800 416a288 288 0 1 0-576 0c0 118.144 94.528 272.128 288 456.576C705.472 688.128 800 534.144 800 416zM512 960C277.312 746.688 160 565.312 160 416a352 352 0 0 1 704 0c0 149.312-117.312 330.688-352 544z"/><path fill="#000000" d="M512 512a96 96 0 1 0 0-192 96 96 0 0 0 0 192zm0 64a160 160 0 1 1 0-320 160 160 0 0 1 0 320z"/></svg>
            <span class="me-2">Türkiye</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="17px" height="17px" viewBox="0 0 24 24" fill="none">
                <path d="M7 11C7 10.4477 7.44772 10 8 10C8.55228 10 9 10.4477 9 11C9 11.5523 8.55228 12 8 12C7.44772 12 7 11.5523 7 11Z" fill="#000000"/>
                <path d="M7 16C7 15.4477 7.44772 15 8 15C8.55228 15 9 15.4477 9 16C9 16.5523 8.55228 17 8 17C7.44772 17 7 16.5523 7 16Z" fill="#000000"/>
                <path d="M11 11C11 10.4477 11.4477 10 12 10C12.5523 10 13 10.4477 13 11C13 11.5523 12.5523 12 12 12C11.4477 12 11 11.5523 11 11Z" fill="#000000"/>
                <path d="M11 16C11 15.4477 11.4477 15 12 15C12.5523 15 13 15.4477 13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16Z" fill="#000000"/>
                <path d="M15 11C15 10.4477 15.4477 10 16 10C16.5523 10 17 10.4477 17 11C17 11.5523 16.5523 12 16 12C15.4477 12 15 11.5523 15 11Z" fill="#000000"/>
                <path d="M15 16C15 15.4477 15.4477 15 16 15C16.5523 15 17 15.4477 17 16C17 16.5523 16.5523 17 16 17C15.4477 17 15 16.5523 15 16Z" fill="#000000"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8.55228 2 9 2.44772 9 3V4H15V3C15 2.44772 15.4477 2 16 2C16.5523 2 17 2.44772 17 3V4C19.7614 4 22 6.23858 22 9V17C22 19.7614 19.7614 22 17 22H7C4.23858 22 2 19.7614 2 17V9C2 6.23858 4.23858 4 7 4V3C7 2.44772 7.44772 2 8 2ZM7 6C5.34315 6 4 7.34315 4 9V17C4 18.6569 5.34315 20 7 20H17C18.6569 20 20 18.6569 20 17V9C20 7.34315 18.6569 6 17 6C17 6.55229 16.5523 7 16 7C15.4477 7 15 6.55229 15 6H9C9 6.55229 8.55228 7 8 7C7.44772 7 7 6.55229 7 6Z" fill="#000000"/>
                </svg>
            <span>Kasım 2020 tarihinde katıldı</span>
        </div>
    </div>
    <div class="profileNavbar pt-3">
        <ul class="nav nav-tabs justify-content-around ">
            <li class="nav-item">
              <a class="nav-link  active" aria-current="page" href="#">Tweetler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Yanıtlar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary" href="#">Medya</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-secondary ">Beğeni</a>
            </li>
          </ul>
    </div>
</article>

<!-- RIGHT SIDE -->
<aside class=" col-lg-3 d-none d-lg-inline page-right-side p-0 bg-light" style="height:100vh;">

    <div class="news-con col-12 mt-3 d-flex justify-content-center">
        <div class="news bg-white p-1 col-11 rounded-3">
            <h5>Kimi takip etmeli</h5>
            <div class="news-twitts-con ">
                <ul class="news-twitts p-1 d-flex align-items-center ">
                        <img src="" alt="" class="col-2 rounded-circle bg-dark me-1" style="height: 30px; width:30px; ">
                        <div class="col-6 profil m-0 p-0">
                            <p class="profile-name m-0 p-0">Yusuf Duru</p>
                            <p class="profile-address m-0 p-0">@_halimiz_duman</p>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <button class="btn btn-sm btn-info rounded-pill ms-1 ">Takip Et</button>
                        </div>
                </ul>
                <ul class="news-twitts p-1 d-flex align-items-center ">
                        <img src="" alt="" class="col-2 rounded-circle bg-dark me-1" style="height: 30px; width:30px; ">
                        <div class="col-6 profil m-0 p-0">
                            <p class="profile-name m-0 p-0">Yusuf Duru</p>
                            <p class="profile-address m-0 p-0">@_halimiz_duman</p>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <button class="btn btn-sm btn-info rounded-pill ms-1">Takip Et</button>
                        </div>
                </ul>
                <ul class="news-twitts p-1 d-flex align-items-center ">
                        <img src="" alt="" class="col-2 rounded-circle bg-dark me-1" style="height: 30px; width:30px; ">
                        <div class="col-6 profil m-0 p-0">
                            <p class="profile-name m-0 p-0">Yusuf Duru</p>
                            <p class="profile-address m-0 p-0">@_halimiz_duman</p>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <button class="btn btn-sm btn-info rounded-pill ms-1">Takip Et</button>
                        </div>
                </ul>
                
                
            </div>
        </div>
    </div>

</aside>

</section>


{% endblock body %}



