{% load static %}

<nav class="navbar navbar-expand-lg bg-light py-0">

    <div class="container-fluid d-flex justify-content-around col-12 ">
        <div class="col-4 col-lg-3 d-flex justify-content-center navi-left-con">
            <div class="col-11 d-flex justify-content-around align-items-center ">
                <a class="navbar-brand p-0" href="#">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 16 16"
                            fill="none">
                            <path fill="#1D9BF0"
                                d="M13.567 5.144c.008.123.008.247.008.371 0 3.796-2.889 8.173-8.172 8.173v-.002A8.131 8.131 0 011 12.398a5.768 5.768 0 004.25-1.19 2.876 2.876 0 01-2.683-1.995c.431.083.875.066 1.297-.05A2.873 2.873 0 011.56 6.348v-.036c.4.222.847.345 1.304.36a2.876 2.876 0 01-.89-3.836 8.152 8.152 0 005.92 3 2.874 2.874 0 014.895-2.619 5.763 5.763 0 001.824-.697 2.883 2.883 0 01-1.262 1.588A5.712 5.712 0 0015 3.656a5.834 5.834 0 01-1.433 1.488z" />
                        </svg>
                    </div>
                </a>

                <li class="nav-item dr0pdown mx-2 " style="list-style:none;">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="" alt="" class="rounded-circle bg-dark me-1" style="height: 30px; width:30px; ">
                        <div class="profil m-0 p-0 navbar-links-text">
                            <p class="profile-name m-0 p-0">Yusuf Duru</p>
                            <p class="profile-address m-0 p-0">@_halimiz_duman</p>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Var olan bir hesap ekle </a></li>
                        <li><a class="dropdown-item" href="#">... hesabından çıkış yap</a></li>
                    </ul>
                </li>
                <button class="button-tweet col-5 col-lg-4 btn btn-sm btn-info text-white rounded-pill">Tweetle</button>
            </div>
        </div>

        <div class="nav-links d-flex justify-content-center col-6 ">

            <ul class="nav col-12 d-flex justify-content-center  mb-2 mb-lg-0">

                <li class="nav-item m-0 justify-content-center col-2 ">
                    <a class="nav-link justify-content-center  active navbar-button rounded-pill p-1 col-12" aria-current="page" href="#">
                        <div class="col-12 d-flex justify-content-center"><svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px;"
                            class="col-6 r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e">
                            <g>
                                <path
                                    d="M12 9c-2.209 0-4 1.791-4 4s1.791 4 4 4 4-1.791 4-4-1.791-4-4-4zm0 6c-1.105 0-2-.895-2-2s.895-2 2-2 2 .895 2 2-.895 2-2 2zm0-13.304L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM19 19.5c0 .276-.224.5-.5.5h-13c-.276 0-.5-.224-.5-.5V8.429l7-4.375 7 4.375V19.5z">
                                </path>
                            </g>
                        </svg></div>
                        <p class="col-12 d-flex justify-content-center navbar-links-text m-0">Ana Sayfa</p> 
                    </a>
                </li>
                <li class="nav-item m-0 justify-content-center col-2">                    
                    <a class=" nav-link justify-content-center  navbar-button rounded-pill p-1" href="#">
                        <div class="col-12 d-flex justify-content-center"><svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px;" class="col-6 r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M10.09 3.098L9.72 7h5.99l.39-4.089 1.99.187L17.72 7h3.78v2h-3.97l-.56 6h3.53v2h-3.72l-.38 4.089-1.99-.187.36-3.902H8.78l-.38 4.089-1.99-.187L6.77 17H2.5v-2h4.46l.56-6H3.5V7h4.21l.39-4.089 1.99.187zM14.96 15l.56-6H9.53l-.56 6h5.99z"></path></g></svg></div>
                        <div class="col-12 d-flex justify-content-center navbar-links-text m-0">Keşfet</div>
                    </a>
                </li>
                {% comment %} <li class="nav-item m-0 justify-content-center col-2">
                    <a class="nav-link justify-content-center  navbar-button rounded-pill p-1 col-12" href="#">
                        <div class="col-12 d-flex justify-content-center"><svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px; " class=" r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"></path></g></svg></div>
                        <p class="navbar-links-text d-flex justify-content-center col-12 m-0">Bildirimler</p>  
                    </a>
                </li> {% endcomment %}
                <li class="nav-item m-0 justify-content-center col-2">
                    <a class="nav-link justify-content-center  navbar-button rounded-pill p-1 col-12" href="#">
                        <div class="col-12 d-flex justify-content-center"><svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px;" class="col-6 r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M1.998 5.5c0-1.381 1.119-2.5 2.5-2.5h15c1.381 0 2.5 1.119 2.5 2.5v13c0 1.381-1.119 2.5-2.5 2.5h-15c-1.381 0-2.5-1.119-2.5-2.5v-13zm2.5-.5c-.276 0-.5.224-.5.5v2.764l8 3.638 8-3.636V5.5c0-.276-.224-.5-.5-.5h-15zm15.5 5.463l-8 3.636-8-3.638V18.5c0 .276.224.5.5.5h15c.276 0 .5-.224.5-.5v-8.037z"></path></g></svg></div>
                        <p class="col-12 d-flex justify-content-center navbar-links-text m-0">Mesajlar</p>
                    </a>
                </li>
                <li class="nav-item m-0 justify-content-center col-2">
                    <a class="nav-link justify-content-center  navbar-button rounded-pill p-1 col-12" href="#">
                        <div class="col-12 d-flex justify-content-center"><svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px;" class="col-6 r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M4 4.5C4 3.12 5.119 2 6.5 2h11C18.881 2 20 3.12 20 4.5v18.44l-8-5.71-8 5.71V4.5zM6.5 4c-.276 0-.5.22-.5.5v14.56l6-4.29 6 4.29V4.5c0-.28-.224-.5-.5-.5h-11z"></path></g></svg></div>
                        <p class="col-12 d-flex justify-content-center navbar-links-text m-0">Yer İşaretleri</p>
                    </a>
                </li>
                <li class="nav-item m-0 justify-content-center col-2">
                    <a class="nav-link justify-content-center  navbar-button rounded-pill p-1 col-12" href="#">
                        <div class="col-12 d-flex justify-content-center"><svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px;" class="col-6 r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M3 4.5C3 3.12 4.12 2 5.5 2h13C19.88 2 21 3.12 21 4.5v15c0 1.38-1.12 2.5-2.5 2.5h-13C4.12 22 3 20.88 3 19.5v-15zM5.5 4c-.28 0-.5.22-.5.5v15c0 .28.22.5.5.5h13c.28 0 .5-.22.5-.5v-15c0-.28-.22-.5-.5-.5h-13zM16 10H8V8h8v2zm-8 2h8v2H8v-2z"></path></g></svg></div>
                        <p class="col-12 d-flex justify-content-center navbar-links-text m-0">Listeler</p>
                    </a>
                </li>



            </ul>


        </div>
        <div class="nav-right d-flex justify-content-center col-2 col-lg-3">
           
                <button type="button col-4" class=" p-0 navbar-button rounded-pill p-1">
                    <svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px;" class="col-6 r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"></path></g></svg>
                    <p class="col-12 m-0 navbar-links-text">Bildirimler</p> 
                </button>
                <button type="button col-4" class=" p-0 navbar-button rounded-pill p-1">
                    <svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px;" class="col-6 r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M5.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C15.318 13.65 13.838 13 12 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C7.627 11.85 9.648 11 12 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H3.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46zM12 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM8 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4z"></path></g></svg>
                    <p class="col-12 m-0 navbar-links-text">Profil</p> 
                </button>

                <div class="dropdown col-4">
                    <button class=" navbar-button rounded-pill p-1 " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg viewBox="0 0 24 24" aria-hidden="true" style="width:25px;" class="col-6 r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-cnnz9e"><g><path d="M3.75 12c0-4.56 3.69-8.25 8.25-8.25s8.25 3.69 8.25 8.25-3.69 8.25-8.25 8.25S3.75 16.56 3.75 12zM12 1.75C6.34 1.75 1.75 6.34 1.75 12S6.34 22.25 12 22.25 22.25 17.66 22.25 12 17.66 1.75 12 1.75zm-4.75 11.5c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25S6 11.31 6 12s.56 1.25 1.25 1.25zm9.5 0c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25-1.25.56-1.25 1.25.56 1.25 1.25 1.25zM13.25 12c0 .69-.56 1.25-1.25 1.25s-1.25-.56-1.25-1.25.56-1.25 1.25-1.25 1.25.56 1.25 1.25z"></path></g></svg>
                      <p class="col-12 m-0 navbar-links-text">Daha fazla</p>  
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Konular</a></li>
                      <li><a class="dropdown-item" href="#">Twitter Çevresi</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" href="#">İçerik Üreticisi Stüdyosu</a></li>
                      <li><a class="dropdown-item" href="#">Profesyonel Araçlar</a></li>
                      <li><a class="dropdown-item" href="#">Ayarlar ve Destek</a></li>
                      
                    </ul>
                </div>
                    
                    
                    

        </div>
    </div>
</nav>